footer.footer
    .footer__nav.mb-5
        .footer__item
            a(href="javascript:void(0)").footer__link Find your dream home
        .footer__item
            a(href="javascript:void(0)").footer__link Request proposal
        .footer__item
            a(href="javascript:void(0)").footer__link Download home planner
        .footer__item
            a(href="javascript:void(0)").footer__link Contact us
        .footer__item
            a(href="javascript:void(0)").footer__link Submit your property
        .footer__item
            a(href="javascript:void(0)").footer__link Come work with us
    p.footer__text= dummy