main.container
    header.header
        .logo-brand
            a(href="")
                img(src="../../images/logo.png", alt="Happybooking Logo")
        .search
            form(action="" method="")
                input(type="text" class="form-control" placeholder="Search hotels...")
                button(type="submit" class="search__button")
                    i.fa.fa-search
        .user
            .user__bookmark
                i.fa.fa-bookmark
            .user__chat
                i.fa.fa-comments
            .user__avatar
                .user__avatar-name
                    img(src="../../images/user-3.jpg", alt="Lee")
                    | Lee
    .content
        aside.sidebar
            ul.sidebar__nav
                li.sidebar__item.active
                    a.sidebar__link(ahref="#")
                        i.fa.fa-home
                        span Hotel
                li.sidebar__item
                    a.sidebar__link(ahref="#")
                        i.fa.fa-plane
                        span Flight
                li.sidebar__item
                    a.sidebar__link(ahref="#")
                        i.fa.fa-car
                        span Car rental
                li.sidebar__item
                    a.sidebar__link(ahref="#")
                        i.fa.fa-map
                        span Tours
            p © 2018 by Leenguyenz. All rights reserved.
        section.hotels
            .gallery
                figure.gallery__item
                    img(src="../../images/hotel-1.jpg", alt="")
                figure.gallery__item
                    img(src="../../images/hotel-2.jpg", alt="")
                figure.gallery__item
                    img(src="../../images/hotel-3.jpg", alt="")
            .rate
                h1.rate__title
                    | HOTEL LAS PALMAS
                .rate__icon
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                .rate__location
                    i.fa.fa-map-marker
                    a(href="javascript:void(0)").btn__booking Albufeira, Portugal
                .rate__vote
                    .rate__point
                        | 8.6
                    .rate__users
                        | 429 votes
            .hotels__review
                .hotels__left
                    .hotels__intro
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
                        p Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
                    .hotels__topic
                        ul
                            li
                                i.fa.fa-angle-right
                                | Close to the beach
                            li
                                i.fa.fa-angle-right
                                | Free airport shuttle
                            li
                                i.fa.fa-angle-right
                                | Air conditioning and heating
                            li
                                i.fa.fa-angle-right
                                | We speak all languages
                            li
                                i.fa.fa-angle-right
                                | Breakfast included
                            li
                                i.fa.fa-angle-right
                                | Free wifi in all rooms
                            li
                                i.fa.fa-angle-right
                                | Pets allowed
                            li
                                i.fa.fa-angle-right
                                | Perfect for families
                    .hotels__recommend
                        .hotels__recommend--text Lucy and 3 other friends recommend this hotel.
                        .hotels__recommend--image
                            img(src="../../images/user-3.jpg", alt="")
                            img(src="../../images/user-4.jpg", alt="")
                            img(src="../../images/user-5.jpg", alt="")
                            img(src="../../images/user-6.jpg", alt="")
                .hotels__right
                    .quote
                        blockquote.quote__content
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
                        figure.quote__author
                            figcaption.quote__box
                                img(src="../../images/user-1.jpg", alt="")
                                .quote__title
                                    .quote__name
                                        | Lee Nguyen
                                    .quote__date
                                        | Feb 23rd, 2018
                            .quote__score
                                | 7.8
                    .quote
                        .quote__content
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
                        .quote__author
                            .quote__box
                                img(src="../../images/user-3.jpg", alt="")
                                .quote__title
                                    .quote__name
                                        | Nick smith
                                    .quote__date
                                        | Feb 23rd, 2018
                            .quote__score
                                | 7.9
                    .btn__booking
                        a(href="javascript:void(0)") Show all
                            span &rarr; 
            section.bottom
                p GOOD NEWS! WE HAVE 4 FREE ROOMS FOR YOUR SELECTED DATES!
                a(href="javascript:void(0)").btn
                    span.btn__info Only 4 rooms left
                    span.btn__book Book now