section.banner
    | banner
section.realtors
    | realtors
section.benefits
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
section.intro
    image(src="../../images/story-1.jpeg" class="intro__1" alt="image1")
    image(src="../../im    ages/story-2.jpeg" class="intro__2" alt="image1")
section.decision
    | decision
section.apartment
    | apartment
section.gallery
    | gallery