section.banner
    | banner
section.realtors
    | realtors
section.benefits
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
    .benefits__box
        i.fa.fa-globe.benefits__icons
        h4.benefits__title.heading--dark World's best luxury homes
        p.benefits__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
section.intro
    | intro
section.decision
    | decision
section.apartment
    | apartment
section.gallery
    | gallery