// Font fontawesome
@font-face {
	font-family:fontawesome;
    src:url('../../lib/font-awesome/fonts/fontawesome-webfont.ttf');
}

@font-face{
    font-family: open_sans;
    src: url('../../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: open_sans_bold;
    src: url(../../fonts/opensans/OpenSans-Bold.ttf);
}
@font-face{
    font-family: dancing;
    src: url(../../fonts/dancing/DancingScript-Regular.ttf);
}
@font-face{
    font-family: dancing_bold;
    src: url(../../fonts/dancing/DancingScript-Bold.ttf);
}

