extends pug/layouts/_home

block head_end
    include pug/block/_style
    
block content
    #homepage
        include pug/layouts/_header
        include pug/pages/_booking
        include pug/layouts/_footer

block body_end
    include pug/block/_script