///////////////////////////////////
//Side Bar
.sidebar{
    padding-top: 35px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    @include respond($tab-port){
        padding-top: 0;
    }
    &__nav{
        list-style: none;
        width: 100%;
        @include respond($tab-port){
            display: flex;
            flex-flow: row nowrap;
        }
    }
    &__item{
        color: $color-grey-light-1;
        padding: 10px 30px;
        text-transform: uppercase;
        transition: all 300ms ease;
        cursor: pointer;
        position: relative;
        @include respond($tab-port){
            margin-bottom: 0!important;
            padding: 15px 40px;
            flex: 0 0 25%;
        }
        a{
            position: relative;
            z-index: 2;
            @include respond($tab-port){
                text-align: center;
                display: block;
            }
        }
        span{
            @include respond($tab-port){
                display: block;
                white-space: nowrap;
            }
        }

        &:not(:last-child){
            margin-bottom: 1rem;
        }
        &::before{
            content: '';
            height: 100%;
            width: 3px;
            background: $color-primary;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform .2s,
                        width .4s .2s ease-in-out;
            transform: scaleY(0);
            z-index: 1;
        }

        &:hover::before,&.active::before{
            width: 100%;
            transform: scaleY(1);
        }

        i{
            margin-right: 2rem;
            font-size: 1.7rem;
            @include respond($tab-port){
                margin-right: 0;
            }
        }
    }
    p{
        padding: 40px 20px;
        text-align: center;
        font-size: 1.2rem;
        color: $color-white;
        @include respond($tab-port){
            display: none;
        }
    }
}

///////////////////////////////////
//Hotels
.hotels{
    .gallery{
        display: flex;
        flex-flow: row nowrap;
        img{
            width: 100%;
            display: block;
        }
    }

    .rate{
        display: flex;
        background: $color-white;
        align-items: center;
        flex-flow: row wrap;
        justify-content: center;
        @include respond($phone){
            h1{
                font-size: 1.8rem;
                padding: 1.25rem 2rem;
            }
            & > * {
                white-space: nowrap;
            }
        }
        &__title{
            font-size: 2.3rem;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 1.5rem 3rem;
        }
        &__icon{
            color: $color-primary;
            flex: 1;
            @include respond($phone){
                flex: 0;
            }
        }

        &__location{
            text-align: center;
            color: $color-primary;
            padding-right: 30px;
            i{padding:0 10px;}
            
        }

        &__vote{
            background: $color-primary;
            padding: 5px 25px;
            color: $color-grey-light-1;
            text-align: center;
            align-self: stretch;
        }
        &__point{font-size: 2.3rem;}
        &__users{font-size: 1.1rem;}

        i.fa{
            font-size: 1.7rem;
        }
    }
    

    &__review{
        padding: 4.5rem;
        display: flex;
        @include respond($phone){
            display: flex;
            flex-flow: column nowrap;
        }
    }
    &__left{
        flex: 0 0 60%;
        background: $color-white;
        margin-right: 4rem;
        padding: 3rem;
        @include respond($phone){
            margin-right: 0;
            margin-bottom: 4.5rem;
        }
    }
    &__right{
        flex: 1;
    }
    &__intro{
        p{
            margin-bottom: 2rem;
        }
    }
    &__topic{
        padding: 20px 0;
        border-top: $line;
        border-bottom: $line;
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                flex: 0 0 50%;
                i{
                    color: $color-primary;
                    padding-right: 1rem;
                }
            }
        }
    }
    &__recommend{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        &--image{
            img{
                border-radius: 50%;
                width: 4rem;
                border: 3px solid $color-white;
                box-sizing: content-box;
                &:not(:last-child){
                    margin-right: -1rem;
                }
            }
        }
    }
    .quote{
        padding: 20px;
        position: relative;
        margin-bottom: 20px;
        background: $color-white;
        &:before{
            content:"\201C";
            position: absolute;
            top: -2rem;
            left: 0;
            line-height: 1;
            font-size: 20rem;
            color: $color-grey-light-3;
            font-family: sans-serif;
        }

        &__content{
            padding-bottom: 10px;
            position: relative;
            z-index: 99;
        }
        &__author{
            display: flex;
            justify-content: space-between;
            img{
                width: 50px;
                border-radius: 50%;
                position: absolute;
            }
        }
        &__title{
            padding-left: 60px;
            text-align: center;
        }
        &__date{
            font-size: 1.2rem;
        }
        &__score{
            font-size: 2rem;
            font-weight: 400;
            color: $color-primary;
        }
    }
    .bottom{
        background: $color-white;
        border-top: $line;
        text-align: center;
        padding: 2rem 0;
        p{
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
        .btn{
            display: inline-block;
            padding: 25px 100px;
            background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
            color:$color-white;
            border-radius: 999px;
            font-size: 1.65rem;
            transition: all 300ms ease;
            position: relative;
            overflow: hidden;
            @include respond($tab-land){
                padding: 20px 75px;
            }
            & > * {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition: all 300ms ease;
            }
            &__info{
                top:-100%;
                white-space: nowrap;
            }
            &__book{
                top:20%;
            }
            &:hover{
                background-image: linear-gradient(to right,$color-primary-dark,$color-primary-light);  
                .btn__info{
                    top:20%;
                }
                .btn__book{
                    top:100%;
                }
                transition: all 500ms ease;
            }
            &:focus{
                outline: none;
                animation: pulse 700ms infinite;
            }
        }
    }
}