//Benefits box
.benefits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    padding: 15rem 0;
    background: $color-white;
    &__box{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2.5rem;
    }
    &__icons{
        grid-row: 1 / span 2;
        font-size: 5rem;
        color: $color-primary;
        transform: translateY(-1rem);
    }
    &__text{
        font-size: 1.7rem;
        font-weight: 400;
    }
}
//Intro box
.intro{
    background-image: linear-gradient(to left bottom, rgba($color-primary-light, 0.4), rgba($color-primary, 0.6)), url('../../images/back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}