header{
    background: $color-primary;
    grid-column: header-start / header-end;
    grid-row: 1 / -1;
    padding-top: 3rem;

    @include respond($tablet){
        grid-column: 1 / -1;
        grid-row: auto;
        padding: 0;
    }

    .bars{
        div{
            width: 40px;
            height: 2px;
            background: $color-white;
            margin: 10px auto;
        }
        @include respond($tablet){
            display: inline-block;
            align-items: end;
            margin-left: 1rem;
        }
    }
}