#homepage{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}
.banner{
    background: $color-main;
}
.realtors{
    background: $color-secondary;
}
.benefits{
    background: $color-grey-dark-2;
}
.intro{
    background: $color-grey-light-2;
}
.decision{
    background: $color-primary-dark;
}
.apartment{
    background: $color-grey-dark-1;
}
.gallery{
    background: $color-secondary;
}