#homepage{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:[header-start] 8rem [header-end full-start] minmax(6rem,1fr) [main-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [main-end] minmax(6rem,1fr) [full-end];
}
.banner{
    background-image: linear-gradient(rgba($color-secondary, 0.9), rgba($color-secondary, 0.9)), url('../../images/hero.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: full-start / col-end 6;
}
.realtors{
    background: $color-secondary;
    grid-column: col-start 7 / full-end;
}
.benefits{
    grid-column: main-start / main-end;
}
.intro{
    background-image: linear-gradient(to left bottom, rgba($color-primary-light, 0.4), rgba($color-primary, 0.6)), url('../../images/back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: header-end / col-end 4;
}
.decision{
    grid-column: col-start 5 / full-end;
}
.apartment{
    grid-column: main-start / main-end;
}
.gallery{
    grid-column: full-start / full-end;
}